/* Container
 *
 * Align the contents of the site above the proper threshold with some margin-fu
 * with a 25%-wide `.sidebar`.
 */
.img-small, .img-medium, .img-large{
  text-align: center;
  margin: 0 auto;
  width: 100%;
  max-width: 500px;
}

.img-small {
  display:block;
}
.img-medium {
  display:none;
}
.img-large {
  display:none;
}

@media (min-width: 48em) {
  .img-small {
    display:none;
  }
  .img-medium {
    display:block;
  }
  .img-large {
    display:none;
  }
}

@media (min-width: 64em) {
  .img-small {
    display:none;
  }
  .img-medium {
    display:none;
  }
  .img-large {
    display:block;
  }
}